@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white text-gray-700 container mx-auto dark:bg-gray-800 dark:text-gray-200 max-w-2xl
}
hr{
  @apply my-8 border-gray-200 dark:border-gray-700
}
.btn-emoji {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.btn-emoji:hover {
  background-color: rgba(0, 0, 0, 0.1);
}